.wrapper {
    display: flex;
    color: #2a2a2a;
}

.content {
    background-color: #fafafa;
}

.controlBar {
    padding: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #C8C8C8;
    margin-top: 1px;
}

.controlBar-content {
    flex: 1;
    color: #2a2a2a;
    font-weight: 500;

}

.controlBar-controls {
    a {
   
        font-weight: 600;
        font-size: 13px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 14px 15px;
        min-height: 40px;
        min-width: 86px;
    }

    .controls-save {
        background-color: transparent;
        color: #7A69B3;

        &:hover {
            background-color: #EEE5F2;
            border-color: #EEE5F2;
            color: #7A69B3;
        }
    }

    .controls-launch {
        background-color: #7A69B3;
        border: none;
        color: #ffffff;
        margin-left: 16px;

        &:hover {
            background-color: #6653a5;
            color: #ffffff;
        }
    }
}

.controlBar-loadingBar {
    height: 8px;
    background-color: rgb(95, 211, 95);
    width: 75%;
}

.body {
    padding: 30px 50px;
}

.entreSection {
    width: 756px;
    margin-bottom: 60px;
}

.entreField-header {
    font-size: 24px;
    margin-bottom: 5px;
}

.entreField-subHeader {
    margin-bottom: 10px;
    
}

.entreField-required {
    color: #FF324B;
}
.entreField {
    margin: 40px 0;
}

.entreField-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.entreField-subLabel {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #6a6a6a;
    margin-bottom: 10px;

}

.itext-field {
    font-size: 14px;
    line-height: 21px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #C8C8C8;
    outline: none;
    &:focus {
        border: 1px solid #333232;
    }
}

.entreSection-input {
    
    
}

.entreField-validationLabel {
    font-size: 14px;
    color: #6a6a6a;
    margin-top: 2px;
    float: right;
}

.entreField-input-image {
    width: 400px;
    height: 400px;
    border: 1px solid #C8C8C8;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.entreField-input-image-content {
        width: 695px;
        height: 460px;
    }
}

.entreImage-file {
    height: 0;
    opacity: 0;
}

.tertiaryAction {
    display: flex;
    align-items: center;
}

.tertiaryAction-icon {
    width: 35px;
    height: 35px;
    background-color: #EEE5F2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tertiaryAction-text {
    color: #7A69B3;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.entreField-categorySelect {
    width: 373px;
}

.entreDropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .icon {
        font-size: 16px;
    }
    position: relative;
}

.borderInput {
    border: 1px solid #333232;
}

.category-menu {
    display: flex;
    position: absolute;
    width: 690px;
    border: 1px solid #2a2a2a;
    background: #ffffff;
    z-index: 1;
    top: 50px;
    left: -1px;
}


.categoryMenu-sub {
    padding: 20px;
    flex: 1;
    
}

.categoryMenu-sub:nth-child(2) {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}


.categoryMenu-sub-header {
    color: #2a2a2a;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
}

.categoryMenu-sub-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
    color: #2a2a2a;
    padding-top: 15px;

    &:hover {
        color: #E51075;
    }

}

.button-save {
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 15px;
    min-height: 40px;
    min-width: 86px;
    cursor: pointer;
    background-color: #7A69B3;
    border: none;
    color: #ffffff;

        &:hover {
            background-color: #6653a5;
            color: #ffffff;
        }
        
}

.button-add-video {


    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 15px;
    cursor: pointer;
    min-height: 40px;
    min-width: 86px;
    margin-left: 12px;
    background-color: #7A69B3;
    border: none;
    color: #ffffff;
    &:hover {
        background-color: #6653a5;
        color: #ffffff;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        background-color: #C8C8C8;
    }
    

    
}

.i-pitchvideo-url {
    width: 659px;
}

.entreToggle {
    display: flex;
}

.i-media-button {
    font-weight: 700;
    color: #a8a8a8;
    font-size: 12px;
    width: 75px;
    background: #ffffff;
    line-height: 40px;
    height: 40px;
    border: 1px solid #C8C8C8;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 15px;
    text-transform: uppercase;
    text-align: center;

    &:not(.i-media-button-selected):hover {
        color: #2a2a2a;
    }

    &:nth-child(2) {
        border-left: none;
    }

    &.i-media-button-selected {
        background: #2a2a2a;
        color: #ffffff;
    }
}

.entreField-error {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #FF324B;
    margin-top: 5px;
}

.videoPlaceholder {
    width: 620px;
    height: 415px;
    margin-top: 10px;
    background: #f5f5f5;
    border: 1px dashed #C8C8C8;
    border-radius: 2px;
}

.hide {
    display: none;
}




