.wrapper {
    margin-top: 32px;
    display: flex;
    
}

.row {
    padding-bottom: 32px;
}

.title {
    margin-bottom: 8px;
    font-weight: 600;
}

.itext-field {
    font-size: 14px;
    line-height: 21px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #C8C8C8;
    outline: none;
    &:focus {
        border: 1px solid #333232;
    }
}
.entreField-validationLabel {
    font-size: 14px;
    color: #6a6a6a;
    margin-top: 2px;
    float: right;
}
