.wrapper {
 
  

    border-radius: 2px;
    cursor: pointer;
    transition: all .3s cubic-bezier(.16,.8,.45,1);
    background-color: #fff;
    border: 1px solid #ddd;

    &:hover {
        box-shadow: 0 2px 6px -4px rgba(0,0,0,.2), 0 8px 10px -4px rgba(0,0,0,.14), 0 8px 12px 4px rgba(0,0,0,.05);
        transform: translateY(-2px);
    }

}

.card-info {
    padding: 0 16px 16px 16px;
 
}

.card-status {
    margin-top: 6px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .status {
        font-weight: 700;
        font-size: 1.4rem;
        color: #088366;
    }

    .heart {
        font-size: 2.2rem;
        color: #6a6a6a;
        font-weight: normal;

        &:hover {
            color: red;
        }
    }
    .heart-active {
        font-size: 2.2rem;
        color: red;

    }

}

.card-title {
    font-size: 1.8rem;
}

.card-description, .card-category {
    font-size: 1.3rem;
    color: #6a6a6a;
}

.card-description {
    margin-top: 4px;
}

.card-category {
    padding: 5px 0;
}




.card-image img{
    width: 100%;
    object-fit: cover;
}

.money-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.current-money {
    color: #6a6a6a;
    font-weight: 600;
}
.unit-money {
    color: #6a6a6a;
    font-size: 1.2rem;
    margin-left: 2px;
}

.percent {
    color: #6a6a6a;
    font-weight: 600;
    font-size: 1.3rem;
}

.progressbar {
    height: 8px;
    border-radius: 5px;
    margin: -1px 0 5px 0;
    background: #ddd;
}

.progressbar-value {
    background: #34ca96;
    width: 80%;
    height: 100%;
    border-radius: 5px;
   
}
.days-left {
    margin-top: 8px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    span {
        margin-left: 4px;
        font-size: 1.2rem;
    }
}