

.disableSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}


.btn-edit {
    font-size: '16px';
    font-weight: 300;
    color: #000;
    cursor: pointer;
    margin-right: 4px;
    &:hover {
        text-decoration: underline;
        text-decoration-color: #4A4A4A;
    }
}

.btn-remove {
    font-size: '16px';
    font-weight: 300;
    color: #FF582A;
    cursor: pointer;
    margin-left: 4px;
    &:hover {
        text-decoration: underline;
        text-decoration-color: #FF582A;
    }
}

.btn-quantity:hover {
    color: #FF582A;
}